:root{
  --shadow-card: 0px 0px 15px hsl(0 0% 0% / .1);
  --shadow-btn: 2px 2px 10px hsl(0 0% 0% / .3);
}

/* body{
  background-color: hsl(0, 0%, 96%);
} */

.card{
  /* border:  1px solid hsl(0, 0%, 95%); */
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsl(0 0% 0% / .1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: #fff;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-block-end: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);

}

.student{
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsl(0 0% 0% / .1);
  background-color: #fff;
  margin-bottom: 10px;
}

.student p{
  margin: 0;
}

.welcome-msg{
  font-family: Arial,sans-serif;
  background-color: hsl(113, 88%, 38%);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-family: Arial,sans-serif;
  background-color: hsl(7, 88%, 38%);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list{
  display: inline-block;
  width: 100%;
  max-width: 230px;
  font-family: Arial,sans-serif;
  background-color: #fff; 
  padding-block-start: 1.6rem;
  padding-block-end: .6rem;
  padding-inline: 1.6rem;
  margin: 1rem;  
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsl(0, 0%, 90%);
}

.list-category{
  font-size: 1.6em;
  font-weight:300;
  color: hsl(0, 0%, 20%);
  margin: 0;
  color: rgb(123, 190, 196);
}

.list-items{
  padding: 0;
}

.list-items li {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  margin: 0;
  padding-inline: .8rem;
  padding-block: .3rem;
}
.list-items li:hover{
  color: rgb(123, 190, 196);
  border-radius: 5px;
  cursor: pointer;
}

.button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: hsl(200, 100%, 50%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-btn);
}

/* ///////////////////////////////////////// */
.counter-container{
  position: relative;
  text-align: center;
  background-color: hsla(208, 28%, 20%, 1);
  box-shadow: var(--shadow-card);
  padding-block-start: 2rem;
  padding-block-end: 2.6rem;
  padding-inline: clamp(1rem,5vw,4rem);
  border-radius: 15px;
  max-width: 320px;
  min-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  isolation: isolate;

}
.counter-display{
  font-size: 8em;
  margin-block: 0;
  z-index: 1;
}
.counter-btns{
   z-index: 1;
}

.counter-container h2{
  margin: 0;
  color: #202b38;
  font-size: 2rem;
  font-weight:700;
  /* letter-spacing: -15px;
  text-transform: uppercase;
  position: absolute;
  left: -25px;
  bottom: -60px;
  z-index: 0; */
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-box{
  display: flex;
  gap: .5rem;
  padding-block-end: 1rem;
}
p span{
  color: cadetblue;
  font-weight: normal;
}
p{
  font-weight:600;
}


/* Color Picker */
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 10px; */
}
.color-picker-container h1{
  color: whitesmoke;
  margin-block-end: 30px;
}
.color-display{
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: var(--shadow-card);
  transition: .25s ease;
}
.color-display p{
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}
.color-display span.color{
  font-size: 1.8rem;
  color: white;
}

.color-picker-container label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type='color']{
  width: 75px;
  height: 50px;
}

/* //////////////////////////////////////////////// */

.app-container{
  display: flex;
  align-items: start;
  gap: 2rem;
  padding-block-start: 1.6rem;
}

.cars-box{
  list-style: none;
  padding: 0;
  display: flex;
  gap: .6rem;
  flex-wrap: wrap;
  /* flex-shrink: 1; */
  margin: 0;
}
.car-box-item{
  font-size: 1.2rem;
  background-color: #0c151c;
  padding-inline-start: 1.2rem;
  padding-inline-end: .5rem;
  padding-block: .8rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.car-box-item div{
  width: 135px;
  display: flex;
  flex-direction: column;
}
.car-box-item div.close-item{
  text-align: right;
  font-size: 1rem;
  position: absolute;
  cursor: pointer;
}

.car-box-item span{
  color: cadetblue;
  font-size: 1rem;
  font-weight: normal;
}


.move-button{
  background-color: hsla(187, 100%, 42%, 0.4);
}
.move-button:hover{
  background-color: hsla(187, 100%, 42%, 0.2);
}

.delete-button{
  background-color: hsla(187, 100%, 42%, 0.4);
  padding-inline: 1rem;
}
.delete-button:hover{
  background-color: hsla(187, 100%, 42%, 0.2);
}

ol{
  padding: 0;
  /* margin-block-end: 10px; */
}
ol li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: hsla(187, 100%, 42%, 0.078);
  padding-inline-start: 1rem;
  padding-block-start: 6px;
  margin-block-end: 10px;
  border-radius: 8px;
}
ol li span{
  font-size: 1.2rem;
  flex: 1;
  
}
.task-input{
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-input input[type="text"]{ 
  flex: 1;
  font-size: 1.2rem;
}
.task-input button{ 
  max-width: 220px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: hsla(187, 100%, 42%, 0.4);
}
.task-input button:hover{ 
  background-color: hsla(187, 100%, 42%, 0.2);
}


@media screen and (max-width: 500px) {
   ol li{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
   }
   ol li .task-btns{
      align-self: flex-end;
   }

   .task-input{
      display: flex;
      flex-direction: column;
    }
  
    .task-input input[type="text"]{ 
      width: 94%;
    }

    .task-input button{
      align-self: flex-end;
    }

  
}




