:root{
  --shadow-card: 0px 0px 15px hsl(0 0% 0% / .1);
  --shadow-btn: 2px 2px 10px hsl(0 0% 0% / .3);
}

/* body{
  background-color: hsl(0, 0%, 96%);
} */

.card{
  /* border:  1px solid hsl(0, 0%, 95%); */
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsl(0 0% 0% / .1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: #fff;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-block-end: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);

}

.student{
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsl(0 0% 0% / .1);
  background-color: #fff;
  margin-bottom: 10px;
}

.student p{
  margin: 0;
}

.welcome-msg{
  font-family: Arial,sans-serif;
  background-color: hsl(113, 88%, 38%);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-family: Arial,sans-serif;
  background-color: hsl(7, 88%, 38%);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list{
  display: inline-block;
  width: 100%;
  max-width: 230px;
  font-family: Arial,sans-serif;
  background-color: #fff; 
  padding-block-start: 1.6rem;
  padding-block-end: .6rem;
  padding-inline: 1.6rem;
  margin: 1rem;  
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsl(0, 0%, 90%);
}

.list-category{
  font-size: 1.6em;
  font-weight:300;
  color: hsl(0, 0%, 20%);
  margin: 0;
  color: rgb(123, 190, 196);
}

.list-items{
  padding: 0;
}

.list-items li {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  margin: 0;
  padding-inline: .8rem;
  padding-block: .3rem;
}
.list-items li:hover{
  color: rgb(123, 190, 196);
  border-radius: 5px;
  cursor: pointer;
}

.button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: hsl(200, 100%, 50%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-btn);
}

/* ///////////////////////////////////////// */
.counter-container{
  position: relative;
  text-align: center;
  background-color: hsla(208, 28%, 20%, 1);
  box-shadow: var(--shadow-card);
  padding-block-start: 2rem;
  padding-block-end: 2.6rem;
  padding-inline: clamp(1rem,5vw,4rem);
  border-radius: 15px;
  max-width: 320px;
  min-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  isolation: isolate;

}
.counter-display{
  font-size: 8em;
  margin-block: 0;
  z-index: 1;
}
.counter-btns{
   z-index: 1;
}

.counter-container h2{
  margin: 0;
  color: #202b38;
  font-size: 2rem;
  font-weight:700;
  /* letter-spacing: -15px;
  text-transform: uppercase;
  position: absolute;
  left: -25px;
  bottom: -60px;
  z-index: 0; */
}


/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

.form-box{
  display: flex;
  gap: .5rem;
  padding-block-end: 1rem;
}
p span{
  color: cadetblue;
  font-weight: normal;
}
p{
  font-weight:600;
}


/* Color Picker */
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 10px; */
}
.color-picker-container h1{
  color: whitesmoke;
  margin-block-end: 30px;
}
.color-display{
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: var(--shadow-card);
  transition: .25s ease;
}
.color-display p{
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}
.color-display span.color{
  font-size: 1.8rem;
  color: white;
}

.color-picker-container label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type='color']{
  width: 75px;
  height: 50px;
}

/* //////////////////////////////////////////////// */

.app-container{
  display: flex;
  align-items: start;
  gap: 2rem;
  padding-block-start: 1.6rem;
}

.cars-box{
  list-style: none;
  padding: 0;
  display: flex;
  gap: .6rem;
  flex-wrap: wrap;
  /* flex-shrink: 1; */
  margin: 0;
}
.car-box-item{
  font-size: 1.2rem;
  background-color: #0c151c;
  padding-inline-start: 1.2rem;
  padding-inline-end: .5rem;
  padding-block: .8rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.car-box-item div{
  width: 135px;
  display: flex;
  flex-direction: column;
}
.car-box-item div.close-item{
  text-align: right;
  font-size: 1rem;
  position: absolute;
  cursor: pointer;
}

.car-box-item span{
  color: cadetblue;
  font-size: 1rem;
  font-weight: normal;
}

/*/////////  TO DO LIST  //////// */
.task-btns{
  display: flex;
  gap:5px;
  align-items: center;
}
.move-button{
  background-color: hsla(187, 100%, 42%, 0.4);
  padding: 5px;
  margin: 0;
}
.move-button:hover{
  background-color: hsla(187, 100%, 42%, 0.2);
}
.delete-button{
  background-color: hsla(187, 100%, 42%, 0.4);
  padding: 5px;
  margin: 0;
}
.delete-button:hover{
  background-color: hsla(187, 100%, 42%, 0.2);
}

.to-do-list h1{
  margin-block-start: clamp(1rem, 5vw,4rem);
  margin-block-end: 2rem;
}

ol{
  padding: 0;
  /* margin-block-end: 10px; */
}
ol li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: hsl(211, 29%, 14%);
  padding: 10px;
  margin-block-end: 10px;
  border-radius: 8px;
}
ol li span{
  font-size: 1.2rem;
  flex: 1;
  
}
.task-input{
  
  margin-block-end: 2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.task-input input[type="text"]{ 
  font-size: 1.2rem;
  width: 80%;
  margin: 0;
  
}
.task-input button{ 
  width: 20%;
  text-transform: uppercase;
  font-weight: bold;
  background-color: hsla(187, 100%, 42%, 0.4);
  margin: 0;
  white-space: nowrap;
}
.task-input button:hover{ 
  background-color: hsla(187, 100%, 42%, 0.2);
}


@media screen and (max-width: 500px) {

  .to-do-list h1{
    margin-block: 1rem;
  }

   ol li{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding: 10px;
   }
   ol li .task-btns{
      align-self: flex-end;
   }

   .task-input{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline-end: 1.2rem;
      gap: .6rem;
      margin-block: 1rem;
    }
  
    .task-input input[type="text"]{ 
      width: 100%;
    }

    .task-input button{
      /* align-self: flex-end; */
      width: unset;
    }

  
}







/******* DIGITAL CLOCK ***********/
/* body{
  background-image: url(assets/background_01.webp);
  background-color: hsl(212.5deg 27.27% 17.25% / 50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  margin: 0;
  max-width: none;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
} */

.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
}

.clock{
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, .75);
  text-align: center;
}



/* ///// useContext Hook ///////////////////// */

.box{
  border: 2px solid;
  padding: 25px;
}



/**** Stopwatch  **********/
.stopwatch-wrapper{
  width: fit-content;
  min-width: 250px;
  margin: 0 auto;
}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid hsl(200, 18%, 46%);
  padding: 30px;
  border-radius: clamp(30px,5vw,50px);
  background-color: hsl(211, 17%, 24%);
}
.display{
  font-size: clamp(3rem,5vw,5rem);
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75%);
  margin-block-end: 25px;
}
.controls{
  display: flex;
  
}
.controls button{
  text-transform: uppercase;
  font-weight: 600;
}
.start-btn{
  background-color: hsl(122, 39%, 50%);
}
.start-btn:hover, :focus-visible{
  background-color: hsl(122, 39%, 30%);
}

.stop-btn{
  background-color: hsl(4, 90%, 58%);
}
.stop-btn:hover, :focus-visible{
  background-color: hsl(4, 90%, 38%);
}

.reset-btn{
  background-color: hsl(200, 18%, 46%);
}
.reset-btn:hover, :focus-visible{
  background-color: hsl(200, 18%, 26%);
}

@media screen and (max-width: 420px) {
  .controls{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
  }

}